In [1]:
import pandas as pd

In [2]:
pd.read_json('../DATA/nobel.json')

                                                prizes
0    {'year': '2019', 'category': 'chemistry', 'lau...
1    {'year': '2019', 'category': 'economics', 'lau...
2    {'year': '2019', 'category': 'literature', 'la...
3    {'year': '2019', 'category': 'peace', 'laureat...
4    {'year': '2019', 'category': 'physics', 'overa...
..                                                 ...
641  {'year': '1901', 'category': 'chemistry', 'lau...
642  {'year': '1901', 'category': 'literature', 'la...
643  {'year': '1901', 'category': 'peace', 'laureat...
644  {'year': '1901', 'category': 'physics', 'laure...
645  {'year': '1901', 'category': 'medicine', 'laur...

[646 rows x 1 columns]

In [3]:
nobel = pd.read_json('../DATA/nobel.json')
nobel.head()

                                              prizes
0  {'year': '2019', 'category': 'chemistry', 'lau...
1  {'year': '2019', 'category': 'economics', 'lau...
2  {'year': '2019', 'category': 'literature', 'la...
3  {'year': '2019', 'category': 'peace', 'laureat...
4  {'year': '2019', 'category': 'physics', 'overa...

In [6]:
nobel.loc[2]

prizes    {'year': '2019', 'category': 'literature', 'la...
Name: 2, dtype: object

In [9]:
type(nobel.loc[2])

pandas.core.series.Series

In [7]:
nobel.loc[2,'prizes']

{'year': '2019',
 'category': 'literature',
 'laureates': [{'id': '980',
   'firstname': 'Peter',
   'surname': 'Handke',
   'motivation': '"for an influential work that with linguistic ingenuity has explored the periphery and the specificity of human experience"',
   'share': '1'}]}

In [8]:
type(nobel.loc[2,'prizes'])

dict

In [11]:
chemistry_2019 = nobel.loc[0,"prizes"]
chemistry_2019

{'year': '2019',
 'category': 'chemistry',
 'laureates': [{'id': '976',
   'firstname': 'John',
   'surname': 'Goodenough',
   'motivation': '"for the development of lithium-ion batteries"',
   'share': '3'},
  {'id': '977',
   'firstname': 'M. Stanley',
   'surname': 'Whittingham',
   'motivation': '"for the development of lithium-ion batteries"',
   'share': '3'},
  {'id': '978',
   'firstname': 'Akira',
   'surname': 'Yoshino',
   'motivation': '"for the development of lithium-ion batteries"',
   'share': '3'}]}

In [12]:
pd.json_normalize(data = chemistry_2019)

   year   category                                          laureates
0  2019  chemistry  [{'id': '976', 'firstname': 'John', 'surname':...

In [13]:
pd.json_normalize(data = chemistry_2019, record_path="laureates")

,id,firstname,surname,motivation,share
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3

In [14]:
pd.json_normalize(data = chemistry_2019, record_path="laureates", meta=["year", "category"])

,id,firstname,surname,motivation,share,year,category
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3,2019,chemistry
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3,2019,chemistry
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3,2019,chemistry

In [16]:
# pd.json_normalize(data=nobel["prizes"],
#                  record_path= "laureates",
#                  meta=["year","category"])                   # laureatesê°€ ì—†ëŠ” ë”•ì…”ë„ˆë¦¬ê°€ ì¡´ìž¬

In [17]:
cheese_consumption = {
    "France":57.9,
    "Germany":53.2,
    "Luxembourg":53.2
}

In [18]:
cheese_consumption.setdefault("France",100)

57.9

In [19]:
cheese_consumption["France"]

57.9

In [20]:
cheese_consumption.setdefault("Italy", 48)

48

In [21]:
cheese_consumption

{'France': 57.9, 'Germany': 53.2, 'Luxembourg': 53.2, 'Italy': 48}

In [22]:
def add_laureates_key(entry):
    entry.setdefault("laureates",[])

In [23]:
nobel["prizes"].apply(add_laureates_key)

0      None
1      None
2      None
3      None
4      None
       ...
641    None
642    None
643    None
644    None
645    None
Name: prizes, Length: 646, dtype: object