In [1]:
import pandas as pd
import numpy as np

In [2]:
file='../DATA/대구광역시 맛집 데이터.json'

In [4]:
onebone=pd.read_json(file)
onebone

    status  total                                               data
0     DONE    184  {'cnt': '1', 'OPENDATA_ID': '1816', 'GNG_CS': ...
1     DONE    184  {'cnt': '2', 'OPENDATA_ID': '1810', 'GNG_CS': ...
2     DONE    184  {'cnt': '3', 'OPENDATA_ID': '1807', 'GNG_CS': ...
3     DONE    184  {'cnt': '4', 'OPENDATA_ID': '1806', 'GNG_CS': ...
4     DONE    184  {'cnt': '5', 'OPENDATA_ID': '1805', 'GNG_CS': ...
..     ...    ...                                                ...
179   DONE    184  {'cnt': '180', 'OPENDATA_ID': '171', 'GNG_CS':...
180   DONE    184  {'cnt': '181', 'OPENDATA_ID': '167', 'GNG_CS':...
181   DONE    184  {'cnt': '182', 'OPENDATA_ID': '166', 'GNG_CS':...
182   DONE    184  {'cnt': '183', 'OPENDATA_ID': '165', 'GNG_CS':...
183   DONE    184  {'cnt': '184', 'OPENDATA_ID': '164', 'GNG_CS':...

[184 rows x 3 columns]

In [12]:
data1=pd.json_normalize(onebone['data'])
data1.set_index('cnt',inplace=True)
data1.count('없음')

ValueError: No axis named 없음 for object type DataFrame