## [ 중복 데이터 처리]
- 중복 데이터 기준 ==> 행(row)
- 행 단위로 모든 컬럼의 값이 완전히 똑같은 데이터는 중복 데이터
- 처리 => 제거

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [2]:
file='../DATA/employees.csv'

(3) 데이터 저장 : CSV => DF <hr>

In [3]:
empDF=pd.read_csv(file)

(4) 데이터 확인 <hr>

In [4]:
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

(5) 데이터 전처리 => 나. 중복 데이터 처리 <hr>

- 중복 데이터 체크 => duplicated() : 중복이면 True
- 중복 데이터 처리 => drop_duplicate() : 삭제

In [7]:
# 행 단위로 완전히 똑같은 행 검사 ==> 0개
empDF.duplicated().sum()

0

In [10]:
# Team 컬럼
empDF.Team.duplicated().sum(), empDF.Team.nunique()

(990, 10)

In [12]:
empDF.Team.drop_duplicates(keep=False)

Series([], Name: Team, dtype: object)